body {
  margin: 1rem;
  font-family: georgia;
  font-size: 0.9rem;
}

pre {
  font-size: 1rem;
  margin: 0;
  padding 0;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 1rem;
}

hr {
  height: 1px;
  border: none;
  border-bottom: 1px #eee solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', georgia;
  font-weight: 200;
}

.commit {
  cursor: pointer;
  background-color: #eee;
  margin: 0.2rem 0;
  padding: 0.2rem;
}

.highlight .gi > .x {
  background-color: #eaffea;
  color: #55a532;
}

.highlight .gd > .x {
  background-color: #ffecec;
  color: #bd2c00;
}

.highlight {
  margin: 0.5rem 0;
  border-left: 3px solid #eee;
  padding-left: 0.5rem;
}

.date,
.hash,
.author,
.subject {
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0.1rem 0;
}
