<!doctype html>
<html>
<head>
    <title>Wiki</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
    <header>{{ .Title }}</header>

    <section>{{ .Body }}</section>

    <hr>

    <footer class="commits">
        {{ range .Commits }}
        <div class="commit" data-hash="{{ .Hash }}" data-file="{{ .FileNoExt }}">
            <span class="date">{{ .HumanDate }}</span> &middot;
            <span class="author">{{ .Author }}</span> &middot;
            <span class="subject">{{ .Subject }}</span>
            <div class="diff"></div>
        </div>
        {{ end}}
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
